#edit-watchlist-form{
    width:467px;
    height:214px;
    display:flex;
    flex-direction: column;
}

#edit-watchlist-title{
    font-weight:bold;
    font-size:18px;
}
#modal-content{
    border-radius:3px;
}
#exit-edit-watchlist{
    cursor:pointer;
}
#edit-watchlist-form-upper{
    display:flex;
    margin-left:20px;
    margin-right:20px;
    margin-top:20px;
    align-items: center;
    justify-content: space-between;
    margin-bottom:25px;
}

#edit-watchlist-input{
    width:330px;
    height:40px;
    margin:auto;
    box-sizing: border-box;
}

#save-edit-watchlist{
    width:380px;
    height:50px;
    border-radius:5px;
    border:none;
    cursor:pointer;
    margin:auto;
    font-weight:bold;
}
