#stockpage-outer-container{
    width:1050px;

    display:flex;
    margin:auto;


}

#stockpage-outermost{
    width:100%;
    margin:auto;
}

#stockpage-left-container{
    width:730px;
    margin:auto;
    margin-right:47px;
    margin-top:70px;
}

#stockpage-upper-container{
    display:flex;
    flex-direction: column;
    position:relative
}


#stockpage-graph-timeframes-container{
    width:230px;
    display: flex;
    justify-content: space-between;
}

/* #stock-purchase-middle{
    position:relative;

} */

.stockpage-graph-timeframe-button-good, .stockpage-graph-timeframe-button-bad{
    border:none;
    background-color: transparent;
    cursor: pointer;
    color: var(--color);
    padding-bottom:7px;
}

.dashboard-graph-timeframe-button-good:hover{
    color:var(--good-stock);
    border-bottom:1px solid var(--good-stock);
    padding-bottom:6px;
}

.dashboard-graph-timeframe-button-bad:hover{
    color:var(--bad-stock);
    border-bottom:1px solid var(--bad-stock);
    padding-bottom:6px;
}


#stockpage-right-container{
    width:275px;
}

.peer-container{
    display:flex;
    flex-direction: column;
    height:185px;
    width:168px;
    border: 1px solid var(--border-color);
    margin-right:15px;
    justify-content: space-between;
    cursor:pointer;
    text-decoration: none;
    border-radius:5px;
}

#related-stocks-lower-container{
    display:inline-flex;
    /* width:100%; */
}

#related-stocks-inner-container{
    overflow-x:scroll;
}


#related-stocks-container{
    /* overflow-x: scroll; */
}

#about-lower-container{
    display:flex;
    justify-content: left;
    font-size:13px;
    margin-bottom:45px;
}

.about-individual-container{
    display:flex;
    flex-direction: column;
    margin-right:120px;
}

#about-description{
    margin-bottom:25px;
}

#related-stocks-subtitle{
    margin-bottom:15px;
}

#related-stocks-lower-container{
    margin-bottom:25px;
}

#stock-purchase-title{
    display:flex;
}
#stock-purchase-container{
    height:415px;
    border:1px solid var(--border-color);
    border-radius:5px;
    background-color: var(--watchlist-background-color);
    position:relative;
    /* transition: height 0.1s linear */
}

#stock-purchase-container > div:hover{

}

#stockpage-graph-container{
    padding-bottom:10px;
    border-bottom:1px solid var(--border-color)
}

#about-title{
    font-weight:bold;
    font-size:24px;
    padding-bottom:15px;
    border-bottom:1px solid var(--border-color)
}

#about-container{
    margin-top:60px;
}

#about-description{
    padding-top:25px;
    line-height: 24px;
    height:100px;
    overflow-y: scroll;
}

.about-subtitle{
    font-weight:bold;
}

.key-statistic{
    font-weight:bold;
}

#key-statistics-title{
    padding-bottom:15px;
    border-bottom:1px solid var(--border-color)
}


#about-container{
    margin-bottom:0px;
}

#key-statistics-container{
    margin-bottom:35px;
}

#earnings-container{
    margin-bottom:35px;
}

.key-statistic-container{
    display:flex;
    flex-direction: column;
    width:150px;
    margin-bottom:25px;
}

#key-statistics-lower-container{
    display:flex;
    flex-wrap: wrap;
}

#key-statistics-lower-container{
    font-size:13px;
}

.peer-container{
    cursor:pointer;
    text-decoration: none;
    color:var(--color)
}
.peer-container:hover{
    background-color: var(--button-hover-background-color);
}

#stock-disclosure-navlink{
    text-decoration: none;
}

#earnings-title{
    padding-bottom:15px;
    border-bottom:1px solid var(--border-color);
}

#related-stocks-title{
    padding-bottom:15px;
    border-bottom:1px solid var(--border-color);
}

#earnings-container{
    margin-top:25px;
    margin-bottom:10px;
}

#stockpage-disclosure{
    margin-bottom:25px;
    font-size:13px;
    color:gray;
}

.peer-value{
    font-size:24px;
    font-weight:bold;
    margin-top:20px;
    margin-left:15px;
    margin-bottom:25px;
}

.peer-title{
    margin-top:20px;
    margin-left:20px;
    font-size:18px;
    font-weight:bold;
}


#related-stocks-subtitle{
    line-height:24px;
    font-size:15px;
    font-weight:400;
}

#stock-purchase-titles{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color)

}

#stock-purchase-titles > div {
    cursor:pointer;
}

#stock-purchase-inner{
    font-size:13px;
}
#stock-buy-title-good{
    padding-right: 25px;
    padding-bottom: 15px;
    padding-top: 15px;
    font-weight:bold;
    padding-left:25px;
    border-bottom-color: var(--good);
}

#stock-buy-title-bad{
    padding-right: 25px;
    padding-bottom: 15px;
    padding-top: 15px;
    font-weight:bold;
    padding-left:25px;
    border-bottom-color: var(--bad);
}

#stock-buy-title-good:hover{
    color:var(--good-stock)
}
#stock-buy-title-bad:hover{
    color:var(--bad-stock)
}

#stock-sell-title-bad:hover{
    color:var(--bad-stock)
}

#stock-sell-title-good:hover{
    color:var(--good-stock)
}

#stock-sell-title-good{
    padding-right: 25px;
    padding-bottom: 15px;
    padding-top: 15px;
    font-weight:bold;
    padding-left:25px;
    border-bottom-color: var(--good);
}

#stock-sell-title-bad{
    padding-right: 25px;
    padding-bottom: 15px;
    padding-top: 15px;
    font-weight:bold;
    padding-left:25px;
    border-bottom-color:var(--bad-stock)
}

#invest-in-container{
    display:flex;
    justify-content: space-between;
    margin-top:18px;
    margin-bottom:15px;
}

#invest-in-label{
    margin-left:25px;
    display:flex;
    align-items: center;
}

#invest-in-value{
    margin-right:25px;
    width:137px;
    height:37px;
    cursor:pointer;
    background-color: var(--watchlist-background-color);
    color:var(--color);
    border-radius:5px;
    padding-left:8px;
}
#amount-container{
    display:flex;
    justify-content: space-between;
    margin-bottom:25px;
}

#amount-label{
    margin-left:25px;
    display:flex;
    align-items: center;
    justify-content: center;
}

#amount-value{
    margin-right:25px;
    width:82px;
    height:36px;
    background-color: var(--input-watchlist-background-color);
    border:none;
    border-radius: 5px;
    text-align: right;
    padding-right:10px;
    box-sizing: border-box;
}

#market-price-container{
    display:flex;
    justify-content: space-between;
    padding-bottom:15px;
    border-bottom:1px solid var(--border-color);
    margin-bottom:15px;
    font-weight:bold;
}

#market-price-label-good{
    margin-left:25px;
    color:var(--good-stock);
}

#market-price-label-bad{
    margin-left:25px;
    color:var(--bad-stock);
}
#market-price-value{
    margin-right:25px;
    font-weight:bold;
}
#est-quantity-container{
    display:flex;
    justify-content: space-between;
    margin-bottom:35px;
}

#est-quantity-label{
    margin-left:25px;
    font-weight:bold;
}

#est-quantity-value{
    margin-right:25px;
    font-weight:bold
}

#review-order-button-good{
    height:50px;
    width:226px;
    background-color: var(--good-stock);
    display:flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    color:var(--opposite-color);
    border:none;
    border-radius: 5px;
    font-weight:bold;
    cursor:pointer;
}

#review-order-button-bad{
    height:50px;
    width:226px;
    background-color: var(--bad-stock);
    display:flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    color:var(--opposite-color);
    border:none;
    border-radius: 5px;
    font-weight:bold;
    cursor:pointer;
}

#review-order-button-bad:hover{
    background-color: var(--bad-stock-dark-hover);
}

#review-order-button-good:hover{
    background-color: var(--good-stock-dark-hover);
}

#stock-purchase-lower-good{
    margin-top:35px;
    padding-top:15px;
    border-top:1px solid var(--border-color);
    color: var(--good-stock);
    font-size:13px;
    text-align: center;
}

#stock-purchase-lower-bad{
    margin-top:35px;
    padding-top:15px;
    border-top:1px solid var(--border-color);
    color: var(--bad-stock);
    font-size:13px;
    text-align: center;
}

#add-to-list-button-good {
    height:48px;
    width:228px;
    font-weight:bold;
    border-radius:5px;
    border: 1px solid var(--good-stock);
    background-color: inherit;
    color: var(--good-stock);
    margin-top:30px;
    cursor:pointer;
}

#add-to-list-button-bad {
    height:48px;
    width:228px;
    font-weight:bold;
    border-radius:5px;
    border: 1px solid var(--bad-stock);
    background-color: inherit;
    color: var(--bad-stock);
    margin-top:30px;
    cursor:pointer;
}
#add-to-list-container{
    display:flex;
    align-items: center;
    justify-content: center;
}



#add-to-list-button-bad:hover{
    background-color: var(--bad-stock-light-hover);
}

#add-to-list-button-good:hover{
    background-color: var(--good-stock-light-hover);
}

#stockpage-right-inner-container{
    position:sticky;
    top:85px;
}
