#stockpage-outer-container{
    width:1050px;
    display:flex;
    margin:auto;
}

#stockpage-left-container{
    width:730px;
    margin:auto;
    border:1px solid black;
    margin-right:47px;
}

#stockpage-upper-container{
    display:flex;
    flex-direction: column;
    border-bottom:1px solid lightgrey
}


#stockpage-graph-timeframes-container{
    width:230px;
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid lightgrey
}

.stockpage-graph-timeframe-button{
    border:none;
    background-color: transparent;
    cursor: pointer;
}

.stockpage-graph-timeframe-button:hover{
    color:rgb(0, 200, 5);
}


#stockpage-right-container{
    width:275px;
    border:1px solid black;
}

.peer-container{
    display:flex;
    flex-direction: column;
    height:185px;
    width:160px;
    border: 1px solid lightgrey;
    margin-right:15px;
    justify-content: space-between;
}

#related-stocks-lower-container{
    display:inline-flex;
    overflow-x: scroll;
}

#related-stocks-container{
    overflow-x: scroll;
}

#about-lower-container{
    display:flex;
    justify-content: space-between;
    font-size:13px;
}

.about-individual-container{
    display:flex;
    flex-direction: column;
}

#about-description{
    margin-bottom:25px;
}

#related-stocks-subtitle{
    margin-bottom:15px;
}

#related-stocks-lower-container{
    margin-bottom:25px;
}

#stock-purchase-title{
    display:flex;
}
#stock-purchase-container{
    height:415px;
    border:1px solid black;
}
#stock-purchase-container > div{
    cursor:pointer;
}
#stock-purchase-container > div:hover{

}
