#dashboard-buying-power-container-heading{
    cursor:pointer;
}

#dashboard-buying-power-container-heading:hover{
    background-color: var(--button-hover-background-color);
}


#buying-power-deposit-button{
    display:flex;
    font-size:18px;
    font-weight:700;
    background-color: rgb(0, 200, 5);
    width:145px;
    height:50px;
    border:none;
    border-radius:30px;
    align-items: center;
    justify-content: center;
    cursor:pointer;
}

#buying-power-deposit-button:hover{
    background-color: rgb(1, 175, 7);
}

#trending-list-icons{
    display:flex;
    flex-wrap: wrap;
}

#dashboard-outer-container{
    width:1050px;
    display:flex;
    margin:auto;
}

#watchlist-outer-container{
    display:flex;
    flex-direction: column;
}
#watchlist-outer-title{
    border-bottom:1px solid lightgrey;
    display:flex;
    justify-content: space-between;
}
.watchlist-inner-container{

    width:100%;
    display:flex;
    justify-content: space-between;
    flex-direction: column;

}
.watchlist-title{
    display:flex;
    align-items: center;
    height:61px;
    cursor:pointer;
    width:100%;
    justify-content: space-between;
    position:relative;

}
.watchlist-title:hover{
    background-color: var(--button-hover-background-color);
}
#dashboard-left-container{
    width:730px;
    margin:auto;
    border:1px solid black;
    margin-right:47px;
}

#dashboard-upper-container{
    display:flex;
    flex-direction: column;
    border-bottom:1px solid lightgrey
}

#dashboard-buying-power-container-left{
    display:flex;
    flex-direction:column;
    width:50%;


}

#dashboard-buying-power-container-right{
    width:50%;
    margin-left:35px;

}
#dashboard-buying-power-container-heading{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom:1px solid lightgrey;
}

#dashboard-buying-power-container-bottom{
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 0 2px 2px lightgrey;
}

#brokerage-cash-container{
    display:flex;
    justify-content: space-between;
    border-bottom:1px solid lightgrey;
}

#buying-power-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#watchlist-outer-container{
    width:275px;
    border:1px solid black;
}

.watchlist-stock-container{
    justify-content: space-between;
}

#dashboard-graph-timeframes-container{
    width:230px;
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid lightgrey
}

.dashboard-graph-timeframe-button{
    border:none;
    background-color: transparent;
    cursor: pointer;
}

.dashboard-graph-timeframe-button:hover{
    color:rgb(0, 200, 5);
}

.news-icon-container{
    border-bottom:1px solid lightgrey;
    color:var(--color);
    text-decoration:none;

}

.news-icon-container:hover{
    color:red;
}

.news-icon-container:first-child{
    border-top:1px solid lightgrey;
}

.daily-gainers-icons-value, .daily-gainers-icons-change{
    color: rgb(0, 200, 5);
}

.daily-losers-icons-value, .daily-losers-icons-change{
    color:rgb(255, 80, 0)
}

.daily-losers-individual{
    display:flex;
    flex-direction: column;
    height:185px;
    width:160px;
    border: 1px solid lightgrey;
    margin-right:15px;
    justify-content: space-between;
}

.daily-gainers-individual{
    display:flex;
    flex-direction: column;
    height:185px;
    width:160px ;
    border: 1px solid lightgrey;
    margin-right:15px;
    justify-content: space-between;
    box-sizing: border-box;
}

#daily-gainers-icons{
    display:inline-flex;
}

#daily-losers-icons{
    display:inline-flex;

}

#daily-gainers-container{
    overflow-x: scroll;
}

#daily-losers-container{
    overflow-x: scroll;
}

.responsive-container{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 45px;
}

.chart-date-label{

}

#watchlist-plus-button{
    border:none;
    background-color: transparent;
    cursor:pointer;
}

#watchlist-plus-button:hover{
    background-color: var(--button-hover-background-color);

}

.watchlist-title-right{
    display:flex;
}

.watchlist-dots{
    font-size:20px;
}
.watchlist-arrow{
    font-size:20px;
}
.watchlist-arrow:hover{
    color:rgb(0, 200, 5);
}

.watchlist-dots:hover{
    color:rgb(0, 200, 5);
}

.watchlist-dots-dropdown{
    flex-direction: column;
    bottom:-112px;
    right:0;
    height:110px;
    width:180px;
    border:1px solid lightgrey;
    justify-content: space-around;
    align-items: center;
}

.watchlist-edit:hover,.watchlist-delete:hover{
    color:rgb(0, 200, 5);
}

.watchlist-edit,.watchlist-delete{
    text-align:center;
    width:100%;
}

#about-container{
    margin-bottom:35px;
}

#key-statistics-container{
    margin-bottom:35px;
}

#earnings-container{
    margin-bottom:35px;
}

.key-statistic-container{
    display:flex;
    flex-direction: column;
}

#key-statistics-lower-container{
    display:flex;
    flex-wrap: wrap;
}

#key-statistics-lower-container > div{
margin-bottom:25px;
margin-right:80px;
}

#key-statistics-lower-container{
    font-size:13px;
}

#key-statistics-lower-container:nth-child(5){
margin-right:0
}

#eps{
    margin-right:67px !important;
}

#high-today{
    margin-right:102px !important;
}

#low-today{
    margin-right:139px !important;
}

#high{
margin-right:96px !important;
}

.peer-container{
    cursor:pointer;
    text-decoration: none;
    color:var(--color)
}
.peer-container:hover{
    background-color: var(--button-hover-background-color);
}

#stock-disclosure-navlink{
    text-decoration: none;
}
