#dashboard-buying-power-container-heading{
    cursor:pointer;
}

#dashboard-buying-power-container-heading:hover{
    background-color: var(--button-hover-background-color);
}


#buying-power-deposit-button{
    display:flex;
    font-size:18px;
    font-weight:700;
    background-color: rgb(0, 200, 5);
    width:145px;
    height:50px;
    border:none;
    border-radius:30px;
    align-items: center;
    justify-content: center;
}

#trending-list-icons{
    display:flex;
    flex-wrap: wrap;
}

#dashboard-outer-container{
    width:1050px;
    display:flex;
    margin:auto;
}

#watchlist-outer-container{
    display:flex;
    flex-direction: column;
}
#watchlist-outer-title{
    border-bottom:1px solid lightgrey;
}
.watchlist-inner-container{
    height:61px;
    width:100%;
    display:flex;
    justify-content: space-between;

}
#dashboard-left-container{
    width:730px;
    margin:auto;
    border:1px solid black;
    margin-right:47px;
}

#dashboard-upper-container{
    display:flex;
    flex-direction: column;
    border-bottom:1px solid lightgrey
}

#dashboard-buying-power-container-left{
    display:flex;
    flex-direction:column;
    width:50%;


}

#dashboard-buying-power-container-right{
    width:50%;
    margin-left:35px;

}
#dashboard-buying-power-container-heading{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom:1px solid lightgrey;
}

#dashboard-buying-power-container-bottom{
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 0 2px 2px lightgrey;
}

#brokerage-cash-container{
    display:flex;
    justify-content: space-between;
    border-bottom:1px solid lightgrey;
}

#buying-power-container{
    display:flex;
}

#watchlist-outer-container{
    width:275px;
    border:1px solid black;
}
