#dashboard-buying-power-container-heading{
    cursor:pointer;
}

#dashboard-buying-power-container-heading:hover{
    background-color: var(--button-hover-background-color);
}


#buying-power-deposit-button{
    display:flex;
    font-size:18px;
    font-weight:700;
    background-color: rgb(0, 200, 5);
    width:145px;
    height:50px;
    border:none;
    border-radius:30px;
    align-items: center;
    justify-content: center;
    cursor:pointer;
}

#buying-power-deposit-button:hover{
    background-color: rgb(1, 175, 7);
}

#trending-list-icons{
    display:flex;
    flex-wrap: wrap;
}

#dashboard-outer-container{
    width:1050px;
    display:flex;
    margin:auto;
}

#watchlist-outer-container{
    display:flex;
    flex-direction: column;
}
#watchlist-outer-title{
    border-bottom:1px solid lightgrey;
}
.watchlist-inner-container{

    width:100%;
    display:flex;
    justify-content: space-between;
    flex-direction: column;

}
.watchlist-title{
    display:flex;
    align-items: center;
    height:61px;
    cursor:pointer;
    width:100%;

}
.watchlist-title:hover{
    background-color: var(--button-hover-background-color);
}
#dashboard-left-container{
    width:730px;
    margin:auto;
    border:1px solid black;
    margin-right:47px;
}

#dashboard-upper-container{
    display:flex;
    flex-direction: column;
    border-bottom:1px solid lightgrey
}

#dashboard-buying-power-container-left{
    display:flex;
    flex-direction:column;
    width:50%;


}

#dashboard-buying-power-container-right{
    width:50%;
    margin-left:35px;

}
#dashboard-buying-power-container-heading{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom:1px solid lightgrey;
}

#dashboard-buying-power-container-bottom{
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 0 2px 2px lightgrey;
}

#brokerage-cash-container{
    display:flex;
    justify-content: space-between;
    border-bottom:1px solid lightgrey;
}

#buying-power-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#watchlist-outer-container{
    width:275px;
    border:1px solid black;
}

.watchlist-stock-container{
    justify-content: space-between;
}

#dashboard-graph-timeframes-container{
    width:230px;
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid lightgrey
}

.dashboard-graph-timeframe-button{
    border:none;
    background-color: transparent;
    cursor: pointer;
}

.dashboard-graph-timeframe-button:hover{
    color:rgb(0, 200, 5);
}

.news-icon-container{
    border-bottom:1px solid lightgrey;

}

.news-icon-container:first-child{
    border-top:1px solid lightgrey;
}

.daily-gainers-icons-value, .daily-gainers-icons-change{
    color: rgb(0, 200, 5);
}

.daily-losers-icons-value, .daily-losers-icons-change{
    color:rgb(255, 80, 0)
}

.daily-losers-individual{
    display:flex;
    flex-direction: column;
    height:185px;
    width:160px;
    border: 1px solid lightgrey;
    margin-right:15px;
    justify-content: space-between;
}

.daily-gainers-individual{
    display:flex;
    flex-direction: column;
    height:185px;
    width:160px ;
    border: 1px solid lightgrey;
    margin-right:15px;
    justify-content: space-between;
    box-sizing: border-box;
}

#daily-gainers-icons{
    display:inline-flex;
}

#daily-losers-icons{
    display:inline-flex;

}

#daily-gainers-container{
    overflow-x: scroll;
}

#daily-losers-container{
    overflow-x: scroll;
}
